* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "open sans";
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 75px;
}
nav .logo {
  width: 15%;
}
nav .logo img {
  width: 100%;
}
nav .links {
  width: 25%;
  display: flex;
  justify-content: space-between;
}
nav .links a {
  text-decoration: none;
  color: black;
}

.landing-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
  padding: 10px 75px;
  margin-bottom: 25px;
}
.landing-page .text {
  width: 50%;
}
.landing-page .text h1 {
  margin-bottom: 10px;
  font-family: "raleway";
}
.landing-page .text p {
  margin-bottom: 10px;
}
.landing-page .text .input {
  display: flex;
  align-items: center;
  gap: 10px;
}
.landing-page .text .input input[type=text] {
  width: 75%;
  padding: 8px;
}
.landing-page .text .input input[type=submit] {
  width: 25%;
  padding: 8px;
  color: white;
  background-color: hsl(224deg, 93%, 58%);
  border: 2px solid hsl(224deg, 93%, 58%);
  font-family: "raleway";
}
.landing-page .image {
  width: 50%;
}
.landing-page .image img {
  width: 100%;
}

.productivity {
  background-image: url(images/bg-curve-desktop.svg);
  background-repeat: no-repeat;
  background-position: top;
  background-color: hsl(240deg, 75%, 98%);
  display: flex;
  align-items: center;
  gap: 45px;
  padding: 25px 75px;
}
.productivity .text {
  width: 60%;
}
.productivity .text h1 {
  font-family: "raleway";
  margin-bottom: 10px;
}
.productivity .text p {
  font-size: 14px;
  margin-bottom: 5px;
}
.productivity .text a {
  display: flex;
  align-items: center;
  text-decoration: underline;
  color: hsl(170deg, 45%, 43%);
  font-size: 12px;
  gap: 5px;
}
.productivity .text .testimonial {
  width: 55%;
  background-color: white;
  padding: 15px;
  box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  margin-top: 15px;
}
.productivity .text .testimonial p {
  font-size: 12px;
  line-height: 22px;
}
.productivity .text .testimonial .person-info {
  display: flex;
  align-items: center;
  gap: 10px;
}
.productivity .text .testimonial .person-info .img-wrapper {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  overflow: hidden;
}
.productivity .text .testimonial .person-info .img-wrapper img {
  width: 100%;
}
.productivity .text .testimonial .info p {
  color: gray;
  margin-bottom: 0;
}
.productivity .image {
  width: 40%;
}
.productivity .image img {
  width: 100%;
}

.early-access {
  display: flex;
  align-items: center;
  gap: 125px;
  padding: 75px;
  background-color: hsl(238deg, 22%, 44%);
  color: white;
}
.early-access .text {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.early-access .text h1 {
  font-size: 25px;
}
.early-access .text p {
  font-size: 12px;
}
.early-access .input {
  width: 50%;
}
.early-access .input input[type=text] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: none;
}
.early-access .input input[type=submit] {
  width: 35%;
  padding: 10px;
  background-color: hsl(224deg, 93%, 58%);
  border: none;
  color: white;
  font-family: "raleway";
  font-size: 12px;
  border-radius: 5px;
}

footer {
  background-color: hsl(243deg, 87%, 12%);
  color: white;
  padding: 100px 75px;
  padding-bottom: 25px;
}
footer .logo {
  margin-bottom: 25px;
}
footer .row {
  display: flex;
  gap: 125px;
  margin-bottom: 55px;
  font-size: 12px;
}
footer .row .column:nth-child(1) .phone,
footer .row .column:nth-child(1) .email {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 12px;
}
footer .row .column:nth-child(1) .phone img,
footer .row .column:nth-child(1) .email img {
  width: 8%;
}
footer .row .column:nth-child(2),
footer .row .column:nth-child(3) {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
footer .row .column:nth-child(2) a,
footer .row .column:nth-child(3) a {
  text-decoration: none;
  color: white;
}
footer .row .column:nth-child(4) {
  display: flex;
  gap: 15px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
footer .row .column:nth-child(4) i {
  border: 1px solid white;
  border-radius: 50%;
  padding: 5px;
}

@media (max-width: 690px) {
  nav {
    padding: 25px;
  }
  nav .logo {
    width: 25%;
  }
  nav .links {
    width: auto;
    gap: 15px;
  }
  nav .links a {
    font-size: 14px;
  }
  .landing-page {
    flex-direction: column-reverse;
    padding: 10px 25px;
  }
  .landing-page .text {
    width: 100%;
  }
  .landing-page .text .input {
    flex-direction: column;
  }
  .landing-page .text .input input[type=text] {
    width: 100%;
  }
  .landing-page .text .input input[type=submit] {
    width: 100%;
  }
  .landing-page .image {
    width: 100%;
  }
  .productivity {
    background-image: url(images/bg-curve-mobile.svg);
    flex-direction: column-reverse;
    padding: 25px;
  }
  .productivity .text {
    width: 100%;
  }
  .productivity .text h1 {
    text-align: center;
    font-size: 20px;
  }
  .productivity .text p {
    text-align: center;
  }
  .productivity .text a {
    justify-content: center;
  }
  .productivity .text .testimonial {
    width: 85%;
    margin: auto;
    margin-top: 15px;
  }
  .productivity .image {
    width: 100%;
  }
  .early-access {
    flex-direction: column;
    justify-content: center;
    padding: 45px;
    gap: 25px;
  }
  .early-access .text {
    width: 100%;
    text-align: center;
  }
  .early-access .input {
    width: 100%;
  }
  .early-access .input input[type=submit] {
    width: 100%;
  }
  footer {
    padding: 75px 25px;
    padding-bottom: 25px;
  }
  footer .row {
    flex-direction: column;
    gap: 25px;
  }
  footer .row .column:nth-child(1) .phone img,
footer .row .column:nth-child(1) .email img {
    width: 5%;
  }
  footer .row .column:nth-child(4) {
    justify-content: center;
  }
}/*# sourceMappingURL=style.css.map */